.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#drum-machine{
display: flex;
flex-direction: column;
align-items: flex-start;
flex-wrap: wrap;
border: 5px solid orange;
width: 50vw;
height: 65vh;
}

.drum-pad{
  background-color: #273041;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width:30%;
  align-items: center;
  border-radius: 15px;
  box-shadow:2px 1px 1px orange;
}
.drum-pads{
  order:-1;
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  height: 100%;
  gap:10px;
  padding: 10px;
  justify-content: center;
  flex-grow: 1;
 }
.drum-pad:active{
 background-color: rgb(230, 161, 32);
 border-color:rgb(230, 161, 32);
}

#title{
  flex-shrink: 1;
  align-self: baseline;
  margin-right: 20px;
}